/*! float-tech.css © yamoo9.net, 2017 */

/*:root {
  --white: #ffffff;
  --beige: #f7dcd5;
  --light-tan: #fbf3e3;
  --light-khaki: #f8e8da;
  --pale-grey: #f6f8f8;
  --light-tan-two: #faebd7;
  --light-khaki-two: #fbf6e4;
  --beige-two: #faeae9;
  --very-light-pink: #fdf8f1;
  --pale-grey-two: #eadfe9;
  --pale-grey-three: #f2f6f5;
  --beige-three: #faebea;
  --light-tan-three: #fbf1e3;
}*/

body {
  margin: 0;
}

.icon-box-container {}

.icon-box {
  float: left;
  width: 25%;
  /*height: 16.666666667vh;*/
  height: 170px;
  background: #fff;
  text-align: center;
}

.icon-box img {
  margin-top: 40px;
  -webkit-filter: seturate(10%);
}

.beige {
  background: #f7dcd5;
}
.light-tan {
  background: #fbf3e3;
}
.light-khaki {
  background: #f8e8da;
}
.pale-grey {
  background: #f6f8f8;
}
.light-tan-two {
  background: #faebd7;
}
.light-khaki-two {
  background: #fbf6e4;
}
.beige-two {
  background: #faeae9;
}
.very-light-pink {
  background: #fdf8f1;
}
.pale-grey-two {
  background: #eadfe9;
}
.pale-grey-three {
  background: #f2f6f5;
}
.beige-three {
  background: #faebea;
}
.light-tan-three {
  background: #fbf1e3;
}
