body {
  margin: 30px;
  font-family: "Montserrat", sans-serif;
  background: #f5f5f5;
}

.guide:hover::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(180deg, transparent 9px, hsla(244.5, 70.7%, 73.4%, 0.5) 9px);
  background-size: 1px 10px;
}

/* -----------------------------------------------------------------------------
 * tab-component 디자인
 */
.tab-component, .tab-component * {
  box-sizing: border-box;
}

.tab-component {
  width: 380px;
  height: 450px;
}

.tab-component ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.tablist::after {
  content: '';
  display: block;
  clear: both;
}
.tablist-item {
  float: left;
  width: 33.3333%;
  text-align: center;
  background: #fff;
  border-right: 1px solid #dedfe5;
  border-bottom: 1px solid #dedfe5;
}
.tablist-item:first-child {
  border-radius: 10px 0 0 0;
}
.tablist-item:last-child {
  border-radius: 0 10px 0 0;
  border-right: 0;
}
.tablist-item.active .tab {
  color: #12407e;
}
/* 아래쪽 방향 화살표 그리기 */
.tablist-item.active {
  position: relative;
}
.tablist-item.active::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -7px;
  left: 50%;
  margin-left: -3.5px;
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.tab {
  display: block;
  padding: 1.4em 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
}

.tabpanel-link {
  font-family: "Libre Baskerville", serif;
}