/*! style.css © yamoo9.net, 2017 */

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip:     rect(0 0 0 0); /* IE 6,7 */
  clip:     rect(0,0,0,0);
  width:    1px;
  height:   1px;
  margin:   -1px;
  border:   0;
  padding:  0;
}
.a11y-hidden.focusable:focus {
  overflow: visible;
  position: static;
  clip:     auto;
  width:    auto;
  height:   auto;
  margin:   0;
}
caption.a11y-hidden { position: static; }

.brand {
  margin-top: 42px;
}

.login {
  margin-top: 61px;
}

.login a {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.5571em 0.7142em 0.3571em;
  color: #991717;
  text-decoration: none;
  transition: all .3s ease;
}

.login a:hover,
.login a:focus {
  border-color: #bd1d31;
}
.login a:focus {
  outline: none;
}

.login__link-join {
  margin-left: 2px;
}

.login__link-login {
  margin-left: 18px;
}
