.rwd-image {
  width: 100%;
  height: auto;
}

.rwd-bg-image {
  width: 100%;
  background: no-repeat center;
  background-size: cover;
}

.rwd-bg-clipping {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.rwd-content-clipping-container {
  position: relative;
  overflow: hidden;
}

.rwd-content-clipping {
  position: absolute;
  top: 50%;
  left: 50%;
  /*width: 100%;*/
  height: auto;
  transform: translate(-50%, -50%);
}
