/*! rwd.css @ 2017, yamoo9.net */
body {
  background: #fff;
}
body, figure {
  margin: 0;
}
img, video {
  vertical-align: bottom;
}

/* --------------------------------------------
 * 사용자 정의 디자인
 */
.hide {
  display: none;
}
.demo {
  /* padding: 30px; */
  /* max-width: 960px;
  margin-left: auto;
  margin-right: auto; */
}
.img-wrapper, .video-wrapper {
  margin-bottom: 20px;
  border: 5px solid #eee;
}

/* 배경이미지 반응형 처리 */
.green-leap {
  background:
    url("https://unsplash.it/800/420/?image=18") no-repeat;
  /* 420/800*100% */
  /* 높이/너비 x 100% */
  padding-top: 52.5%;
}

.fork {
  background:
    url("https://unsplash.it/916/743/?image=23") no-repeat;
  padding-bottom: 81.113537118%;
}

.big-header {
  height: 100vh;
  background: #e0e0e0;
}

.big-header-title {
  position: absolute;
  z-index: 100;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
}

.cracker {
  background:
    url("../images/matt-palmer.jpg") no-repeat center top;
}

/* 이미지 스케일 업 모듈 */
.scale-up {
  display: inline-block;
  width: 140px;
  height: 200px;
}
.scale-up .scale-wrap {
  position: relative;
  overflow: hidden;
  height: inherit;
}
.scale-up .scale-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.scale-up .scale-img {
  transform: scale(1);
  transition: all 0.3s;
}
.scale-up:hover .scale-img {
  transform: scale(1.2);
}

/* -------------------------------------------
 * 반응형 웹 디자인 클래스(모듈)
 */

/* e.g) content image */
.rwd-img, .rwd-video {
  width: 100%;
  height: auto;
}
/* e.g) background iamge */
.rwd-bg {
  width: 100%;
  height: 0;
  background-size: cover;
}
/* e.g) crop image */
.crop-img-wrapper {
  overflow: hidden;
  position: relative;
  height: inherit;
}
.crop-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}