body {
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  height: 100vh; /* vh = viewport height */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-family: "Spoqa Han Sans";
}

a {
  color: #6bd0ff;
  text-decoration: none;
}

a:hover {
  color: #3981e6;
}

.active-page {
  padding-left: 5px;
  /*border-left: 두께(width) 색상(color) 형태(style);*/
  border-left: 3px lightblue solid;
}

/* 각 페이지마다 배경이미지 변경 <- id 속성으로 구분 */
#travel {
  /*background: 색상(color) 이미지경로(url()) 반복설정(repeat) 위치(position) 고정설정(attachment);*/
  /* 기본 값 */
  /*background: transparent url() repeat left top scroll;*/
  background: url("../images/travel.jpg") no-repeat;
  background-size: contain;
}
#spring {
  background: url("../images/spring.jpg");
  background-size: cover;
}
#summer {
  background: url("../images/summer.jpg");
  background-size: cover;
}


