/*초기화*/
html {
  overflow-y: scroll;
  font-size: 10px;
  background: #fff;
}
body {
  margin: 0;
  font-size:  1.4rem;
  font-family: "Spoqa Han Sans", Dotum, Sans-Serif;
  line-height: 1.5;
  color: #333741;
}
/* 기준선 가이드 (Baseline Guide) */
.guide {
  height: 300vh;
  background: linear-gradient(180deg, transparent 2rem, hsla(246.9, 60.2%, 63.4%, 0.6) 2rem);
  background-size: 0.1rem 2.1rem;
}
.toggle-guide {
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: none;
  padding: 1em;
  background: hsla(246.9, 60.2%, 63.4%, 0.65);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.45s ease-in-out;
  box-shadow: 0 1px 4px hsla(0, 0%, 40%, 0.35);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.toggle-guide:hover {
  background: hsla(246.9, 60.2%, 63.4%, 0.95);
}

img {
  vertical-align: middle;
}

/*타이포그래피*/
/* 공통 디자인 */
p, h1, h3, h5, h6 {
  margin-top: 0;
  margin-bottom: 2.1rem;
}
/* 단락 디자인 */
p {
  letter-spacing: -0.02em;
}
/* 제목 디자인 */
h1,h3,h5,h6 {
  letter-spacing: -0.05em;
}
h1, h3 {
  /*font-weight: 300;*/
  font-weight: 200;
  color: #333741;
}
h5, h6 {
  font-weight: 400;
  line-height: 2.1rem;
}
h1 {
  font-size: 5.46rem;
  line-height: 6.3rem;
}
h3 {
  font-size: 3.17rem;
  line-height: 4.2rem;
}
h5 {
  font-size: 1.838rem;
  color: #787f94;
}
h6 {
  font-size: 1.56rem;
  color: #47494e;
}

/* 목록 디자인 */
.reset-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 2.1rem;
  padding-left: 0;
}
li {

}
dl {

}
dt {

}
dd {

}

/* 하이퍼링크 디자인 */
a:link {
  color: #227e92;
  text-decoration: none;
}
a:hover {
  color: #41b4cd;
}

/*레이아웃*/
.container {
  width: 82rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8.4rem;
}

header {
  text-align: center;
}

main {
  margin-top: 4.2rem;
}
/*.section-important {}*/
.order-teeth-manage {
  margin-top: 4.2rem;
  counter-reset: order-teeth-manage;
}
.order-teeth-manage li {
  overflow: hidden;
  margin-bottom: 2rem;
  border-bottom: 1px dashed #a9a9a9;
}
.order-teeth-manage li:last-child {
  border-bottom: none;
}
/*.order-teeth-manage li::before {
  content: counter(order-teeth-manage) '.';
  counter-increment: order-teeth-manage;
  margin-right: 5px;
}*/
.order-index {
  font-weight: 400;
  color: #323434;
}
.order-img {
  float: left;
  margin-right: 1rem;
}
.order-content {
  overflow: hidden;
}

.order-title {
  display: inline-block;
  margin-bottom: 2.1rem;
  font-weight: 700;
  color: #787f94;
  letter-spacing: -0.01em;
}

.section-QnA {}

footer {

}