body {
  margin: 4rem;
}
.box {
  width: 200px;
  height: 200px;
  font: 300 1.45rem Verdana;
  color: #222;
}
/*.is-float {
  float: left;
  margin-right: 2rem;
}*/
.wrapper::after {
  content: '';
  display: block;
  clear: both;
}
.is-clear {
  clear: both;
}
.is-central {
  text-align: center;
  line-height: 200px;
}
.primary {
  background: #fa2645;
  height: 320px;
}
.secondary {
  background: #fc8b9c;
}
.tertiary {
  background: #ad3d4e;
}
.quaternary {
  background: #4e4e4e;

}