/*! page.profile.css © yamoo9.net, 2017 */

/* =Typography */
body {
  font-family: "Dosis", "Helvetica Neue", Arial, Sans-Serif;
  line-height: 1.5;
  background:
    linear-gradient(0deg, hsla(255, 100%, 66%, 0.6), transparent),
    url("../images/photo@0.5x.jpg") no-repeat;
  background-size:
    100vw 100vh,
    cover;
}

/* =util */
* {
  -webkit-tap-highlight-color:rgba(0,0,0,0.3);
}

.button {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}
.link {
  text-decoration: none;
}
/* =top-bar */
.top-bar {
  padding-top: 1rem;
}
.top-bar .button {
  width: 100%;
  height: 6rem;
  /*background-color: hsla(0, 0%, 100%, 0.2);*/
  text-align: center;
}
.top-bar .button img {
  width: 1.8rem;
  height: auto;
}

/* =user-info */
.user-info {
  margin-top: 19rem;
}
.user-name {
  font-size: 5rem;
  font-weight: normal;
  line-height: 1.1;
  color: #fff;
}

.user-info-link a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.user-info-link .is-favorite {
  letter-spacing: 0.071em;
  font-size: 1.4rem;
}
.user-info-link .is-show-more {
  letter-spacing: 0.045em;
  font-size: 1.1rem;
}





/* HiDPI Design */
/* CSS3 미디워쿼리 활용 - 레티나 디스플레이 대응 */
/*
 * 고해상도 디스플레이(@2x)
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)     ,
only screen and (   min--moz-device-pixel-ratio: 2)     ,
only screen and (     -o-min-device-pixel-ratio: 2/1)   ,
only screen and (        min-device-pixel-ratio: 2)     ,
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background-image:
      linear-gradient(0deg, hsla(255, 100%, 66%, 0.6), transparent),
      url("../images/photo.jpg");
  }
}

