.is-rwd {
  width: 100%;
  height: auto;
}
.movie, .map {
  position: relative;
}
.movie.is-rwd, .map.is-rwd {
  overflow: hidden;
  height: 0;
  margin: 0;
  border: 0;
  padding: 0;
}
.movie.is-4by3, .map.is-4by3 {
  padding-top: 75%;
}
.movie.is-16by9, .map.is-16by9 {
  padding-top: 56.25%;
}
.movie.is-21by9, .map.is-21by9 {
  padding-top: 42.857142857%;
}
.movie iframe, .map iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
