body {
  width: 820px;
  margin: 70px auto;
}
.box-parent {
  /* absolute는 부모 설정을, position 속성이 기본 값이 아닌 자신을 포함하는 가장 가까운 부모 요소 */
  /* fixed는 부모 설정을 무조건 화면으로 한다. */
  position: fixed;
  right: 40px;
  top: 40px;
  /*border: 1px solid #aaa;*/
  background: #fff;
}
.box-child {
  opacity: 0.56;
  width: 200px;
  height: 110px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 110px;
  font-size: 20px;
  background: #111;
  color: #fff;
}
.box-child:last-child {
  margin-bottom: 0;
}
.is-1st {
  position: absolute;
  right: 140px;
  bottom: -70px;
  /* 자신의 원래 위치에 상대적(relative)으로 이동한다. */
  /*bottom: 20px;
  left: 80px;*/
  background: #3ab982;
}
.is-2nd {
  position: absolute;
  bottom: 10px;
  right: 180px;
  background: #e5be9b;
}
.is-3rd {
  background: #fd414b;
}

p {
  margin-bottom: 80px;
  line-height: 1.78;
  color: #898989;
}