@charset "utf-8";
/*! poster-wall-e.css @ 2017, yamoo9.net */

body {
  margin: 0;
  background: #333;
}

.poster.is-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.poster.is-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.poster.is-center {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 변형(Transform) */
  /* 박스 자신의 가로(x)/세로(y) 길이의 절반만큼 위치 이동 */
  transform: translate(-50%, -50%);
  /*transform: translateX(-50%) translateY(-50%);*/
}

.poster.wall-e {
  width: 1000px;
  height: 1000px;
  /* 멀티 배경 이미지를 배치(Layout) */
  /* 쌓인 순서가 위일 수록 오브젝트가 상위에 존재(포토샵 레이어와 유사) */
  background:
    url("../images/soundtrack.png") no-repeat 166px 35px,
    url("../images/disney-pixar.png") no-repeat 362px 88px,
    url("../images/logo.png") no-repeat 106px 122px,
    url("../images/eve.png") no-repeat 571px 299px,
    url("../images/wall-e.png") no-repeat 264px 344px,
    url("../images/m-o.png") no-repeat 202px 699px,
    url("../images/music.png") no-repeat 150px 932px,
    /* 선형 그레디언트(linear-gradient) */
    linear-gradient(180deg, #332f47 20%, #5a47bb 80%);
    /* 배율(scale transform) 변형 */
    transform: scale(0.5) translateX(-100%) translateY(-25%);
}

