/*! grid-1180.css @ 2017, yamoo9.net */

body {
  margin: 0;
}
body.grid {
  position: relative;
}
body.grid::before,
body.grid::after {
  content: '';
  position: absolute;
  top: 0;
  height: 200vh;
}
body.grid::before {
  z-index: 10000;
  width: 100%;
  background: linear-gradient(180deg, transparent 9px, hsla(39, 34.9%, 50.6%, 0.5) 9px);
  background-size: 1px 10px;
}
body.grid::after {
  z-index: 1000;
  width: 1180px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(121, 255, 0, 0.22) 80px, transparent 80px);
  background-size: 100px 1px;
}

.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

.column {
  float: left;
  /* gutter-width: 20px; gutter-direction: after; */
  margin-right: 20px;
}

.column.is-1  { width: 80px;   }
.column.is-2  { width: 180px;  }
.column.is-3  { width: 280px;  }
.column.is-4  { width: 380px;  }
.column.is-5  { width: 480px;  }
.column.is-6  { width: 580px;  }
.column.is-7  { width: 680px;  }
.column.is-8  { width: 780px;  }
.column.is-9  { width: 880px;  }
.column.is-10 { width: 980px;  }
.column.is-11 { width: 1080px; }
.column.is-12 { width: 1180px; }

.column.is-offset-1  { margin-left: 100px;  }
.column.is-offset-2  { margin-left: 200px;  }
.column.is-offset-3  { margin-left: 300px;  }
.column.is-offset-4  { margin-left: 400px;  }
.column.is-offset-5  { margin-left: 500px;  }
.column.is-offset-6  { margin-left: 600px;  }
.column.is-offset-7  { margin-left: 700px;  }
.column.is-offset-8  { margin-left: 800px;  }
.column.is-offset-9  { margin-left: 900px;  }
.column.is-offset-10 { margin-left: 1000px; }
.column.is-offset-11 { margin-left: 1100px; }

.column.last, .column.omega { margin-right: 0; }

