@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: hidden;
}
img {
  vertical-align: top;
}
.wrap {
  overflow: hidden;
  transform: scale(0.6) translateY(-320px);
  position: relative;
  width: 700px;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid #bdbdbd;
}
.part_contents {
  width: 382px;
  margin: 79px 0 0 37px;
}
.part_contents .heroine {
  position: relative;
  height: 25px;
  padding-left: 30px;
}
.part_contents .heroine img:nth-child(2) {
  margin-left: 4px;
}
.part_contents .title {
  margin-top: 79px;
  position: relative;
  width: 382px;
  height: 471px;
}
.part_contents .title img {
  position: absolute;
}
.part_contents .title img:nth-child(2) {
  left: 56px;
  top: 114px;
}
.part_contents .title img:nth-child(3) {
  left: 20px;
  top: 240px;
}
.part_contents .title img:nth-child(4) {
  left: 0;
  bottom: 0;
}
.part_contents .title img:nth-child(5) {
  right: 111px;
  bottom: 6px;
}
.part_contents .add {
  margin-top: 81px;
}
.part_contents .add img + img {
  margin-top: 18px;
}
.part_contents .copy {
  font-family: "Spoqa Han Sans", "Dotum", "Sans-serif";
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
  color: #28041c;
  margin: 18px 0 0 -2px;
}
.part_contents .copy:after {
  content: '';
  clear: both;
  display: block;
}
.part_contents .copy p {
  float: left;
}
.part_contents .copy p:nth-child(1) {
  letter-spacing: 0.02em;
}
.part_contents .copy p:nth-child(2) {
  margin-left: 4px;
}
.part_contents .copy p:nth-child(3) {
  letter-spacing: -0.004em;
  margin-left: 6px;
}
.part_contents .copy p:nth-child(4) {
  letter-spacing: -0.02em;
  margin-left: 4px;
}
.part_image {
  position: absolute;
  right: -500px;
  top: 20px;
  transition: right 0.45s ease-out;
}

/* State Design */
.wrap.fin .part_image,
.wrap:hover .part_image {
  right: 0;
}

.heroine img {
  position: absolute;
  top: -400px;
}
.heroine img:first-child {
  left: 0;
  transition: all 0.3s ease-out 0.2s;
}
.heroine img:last-child {
  left: 140px;
  transition: all 0.3s ease-out 0.3s;
}

.wrap.fin .heroine img:first-child,
.wrap:hover .heroine img:first-child {
  top: 0px;
}
.wrap.fin .heroine img:last-child,
.wrap:hover .heroine img:last-child {
  top: 0px;
}
