@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: hidden;
}

img {
  vertical-align: top;
}

.wrap {
  overflow: hidden;
  transform: scale(0.6) translateY(-320px);
  position: relative;
  width: 700px;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid #bdbdbd;
}

.part_contents {
  width: 382px;
  margin: 79px 0 0 37px;
}

.part_contents .heroine {
  position: relative;
  height: 25px;
  padding-left: 30px;
}

.part_contents .heroine img:nth-child(2) {
  margin-left: 4px;
}

.part_contents .title {
  position: relative;
  margin-top: 79px;
  width: 382px;
  height: 471px;
  left: 20px;
  filter: grayscale(100%);
  opacity: 0.2;
  transition: all 1194.33ms ease-out 0ms;
}

.part_contents .title img {
  position: absolute;
}

.part_contents .title img:nth-child(2) {
  left: 56px;
  top: 114px;
}

.part_contents .title img:nth-child(3) {
  left: 20px;
  top: 240px;
}

.part_contents .title img:nth-child(4) {
  left: 0;
  bottom: 0;
}

.part_contents .title img:nth-child(5) {
  right: 111px;
  bottom: 6px;
}

.part_contents .add {
  position: relative;
  margin-top: 81px;
  left: -500px;
  filter: blur(10px);
  transition: all 608.776ms ease 292.537ms;
}

.part_contents .add img + img {
  margin-top: 18px;
}

.part_contents .copy {
  font-family: "Spoqa Han Sans", "Dotum", "Sans-serif";
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
  color: #28041c;
  margin: 18px 0 0 -2px;
  position: relative;
  transition: all 738.209ms ease 350.815ms;
  transform-origin: left bottom;
  transform: rotate(40deg);
  bottom: -200px;
}

.part_contents .copy:after {
  content: '';
  clear: both;
  display: block;
}

.part_contents .copy p {
  float: left;
}

.part_contents .copy p:nth-child(1) {
  letter-spacing: 0.02em;
}

.part_contents .copy p:nth-child(2) {
  margin-left: 4px;
}

.part_contents .copy p:nth-child(3) {
  letter-spacing: -0.004em;
  margin-left: 6px;
}

.part_contents .copy p:nth-child(4) {
  letter-spacing: -0.02em;
  margin-left: 4px;
}

.part_image {
  position: absolute;
  right: -500px;
  top: 20px;
  transform: rotate(-40deg);
  transition: all 570.358ms ease-out 253.935ms;
}

/* State Design */
.wrap.fin .part_image,
.wrap:hover .part_image {
  transform: rotate(0deg);
  right: 0;
}

.heroine img {
  position: absolute;
  top: -400px;
}

.heroine img:first-child {
  left: 0;
  transition: all 759.302ms ease-out 160.479ms;
}

.heroine img:last-child {
  left: 140px;
  transition: all 823.591ms ease-out 300ms;
}

.wrap.fin .heroine img:first-child,
.wrap:hover .heroine img:first-child {
  top: 0px;
}

.wrap.fin .heroine img:last-child,
.wrap:hover .heroine img:last-child {
  top: 0px;
}

.wrap.fin .title,
.wrap:hover .title {
  filter: grayscale(0%);
  left: 0;
  opacity: 1;
}

.wrap.fin .add,
.wrap:hover .add {
  filter: blur(0px);
  left: 0px;
}

.wrap.fin .copy,
.wrap:hover .copy {
  bottom: 0;
  transform: rotate(0deg);
}
