/*! positioning.css © yamoo9.net, 2017 */
body {
  margin: 0;
}
.parent-box {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  border: 10px solid #e4e4e4;
}
.box {
  width: 200px;
  height: 180px;
  color: #fff;
  text-align: center;
  line-height: 180px;
}
.box:nth-child(1) {
  z-index: 20;
  background: #7045cf;
}
.box:nth-child(2) {
  z-index: 10;
  background: #ffd219;
}
.box:nth-child(3) {
  z-index: 40;
  background: #3fb5c8;
}
.box:nth-child(4) {
  z-index: 30;
  background: #fe4940;
}
.vertex-lt {
  position: absolute;
  left: 0;
  top: 0;
}
.vertex-rt {
  position: absolute;
  right: 0;
  top: 0;
}
.vertex-lb {
  position: absolute;
  left: 0;
  bottom: 0;
}
.vertex-rb {
  position: absolute;
  right: 0;
  bottom: 0;
}
.center-box {
  position: absolute;
  /*width: auto;*/
  /*height: auto;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.target {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.target::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 42%;
  left: 50%;
  border-bottom: 5px solid #fff;
  transition: all 0.4s ease-out;
  /*transition: left 0.4s ease-out, right 0.4s ease-out 0.4s;*/
}
.target:hover::after {
  right: 0;
  left: 0;
}
