html, .root {
  font-size: 14px;
  line-height: 21px;
}
body, .article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: auto;
  background: url("../assets/leading-pattern-21.png");
}

.container {
  width: 820px;
  margin: 42px auto;
}

h1, .h1 {
  font-size: 1.9285714rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
h2, .h2 {
  font-size: 1.5714286rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3, .h3 {
  font-size: 1.2142857rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}