/* 가이드라인 화면에 보여준다. */
body {
  height: 100vh;
  margin: 0;
  background: url("../assets/leading-pattern-21.png");
  /* 본문 디자인(공통 속성 상속) */
  color: #6b6a6a;
  font: 300 87.5%/1.5 'Nanum Barun Gothic';
}

/* 단락 디자인 */
p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* 제목 디자인: modular scale = 1.24 */
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  color: #272727;
}

h1 {
  font-weight: 200;
}

h4, h3, h2 {
  font-weight: 300;
}

h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 3.6349em;     /* 2.9314em x 1.24 */
  line-height: 1.2380;     /* 3 x (1.5/3.6349) */
  margin-bottom: 0.4126em; /* (1.5/3.6349) */
}

h2 {
  font-size: 2.9314em;     /* 2.3641em x 1.24 */
  line-height: 1.0240;     /* 2 x (1.5/2.9314) */
  margin-bottom: 0.5117em; /* (1.5/2.9314) */
}

h3 {
  font-size: 2.3641em;     /* 1.9066em x 1.24 */
  line-height: 1.2700;     /* 2 x (1.5/2.3641) */
  margin-bottom: 0.6344em; /* (1.5/2.3641) */
}

h4 {
  font-size: 1.9066em;     /* 1.5376em x 1.24 */
  line-height: 1.5800;     /* 2 x (1.5/1.9066) */
  margin-bottom: 0.7867em; /* (1.5/1.9066) */
}

h5 {
  font-size: 1.5376em;     /* 1.24em x 1.24 */
  line-height: 0.9800;     /* 1 x (1.5/1.5376) */
  margin-bottom: 0.9755em; /* (1.5/1.5376) */
}

h6 {
  /* 본문 글자 크기 x 글자 크기 배율 */
  font-size: 1.24em;   /* 1em = 14px */
  /* 행간 = 디자인 상의 줄 개수 x (행간비율/글자크기비율)  */
  line-height: 1.2100; /* 1칸 * (1.5/1.24); */
  /* 아래쪽 마진 = 행간비율/글자크기비율  */
  margin-bottom: 1.2096em;
}


.align-justify {
  text-align: justify;
}

.container {
  width: 820px;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
}