/* -------------------------------------------
 * 반응형 웹 디자인 클래스(모듈)
 */
.rwd-img, .rwd-video {
  width: 100%;
  height: auto;
}
.rwd-bg {
  width: 100%;
  height: 0;
  background-size: cover;
}
.crop-img-wrapper {
  overflow: hidden;
  position: relative;
  height: inherit;
}
.crop-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 이미지 스케일 업 모듈 */
.scale-up {
  overflow: hidden;
  display: inline-block;
}
.scale-up .scale-img {
  transition: all 0.85s;
}
.scale-up:hover .scale-img {
  transform: scale(1.05);
}

/* 유투브, 맵 모듈 */
.youtube, .map {
  position: relative;
  width: 100%;
  height: 0;
}
.youtube.is-4x3, .map.is-4x3 {
  padding-top: 75%;
}
.youtube.is-16x9, .map.is-16x9 {
  padding-top: 56.25%;
}
.youtube.is-21x9, .map.is-21x9 {
  padding-top: 42.857142857%;
}
.youtube iframe, .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}