/*! album.css @ 2017, yamoo9.net */
html {
  background: #fff;
}
body {
  margin: 0;
}
.vignette {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, #7b7b7b, #222)
}

.album {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 287px;
  height: 287px;
  transform: translate(-50%, -50%);
}
.album-item {
  position: absolute;
}

.album-item.cover {
  z-index: 100;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.45);
}
.album-item.sleeve {
  z-index: 10;
}

/* -----------------------------------------------------------------------------
 * 앨범에 사용자가 마우스를 올린 상태(:hover)
 * Mouse Over
 * Mouse Enter
 */
.album .album-item {
  top: 0;
  right: 0;
  transition: all 1s ease-out;
}
.album:hover .album-item.sleeve {
  top: -5px;
  right: -25px;
}
.album:hover .album-item.disk {
  top: -5px;
  right: -80px;
  transform: rotate(720deg);
}